<%= javascript_include_tag "leave_request" %>
<div id='leave_period_form_dlg'>
  <h5>Add Leave period</h5>
    <label>From</label><br/>
    <%= text_field_tag(:from_date, Date.today.strftime("%x"), :class => "js_calendar") %>
  <span class='tselect'>
    <%= time_select( :leave_period, :from_date, :minute_step => 15) %>
    <%= check_box(:leave_period, :all_day) %> All Day
  </span>
    <label>Until</label><br/>
    <%= text_field_tag(:until_date, Date.today.strftime("%x"), :class => "js_calendar") %>
  <span class='tselect'>
    <%= time_select(:leave_period, :until_date, :minute_step => 15) %>
   </span>

  <div>
    <%= button_to_function("Add", "addNewLeavePeriod()") %>
    <%= button_to_function("Close","closeNewLeavePeriodDlg()") %>
  </div>
</div>
<div class='relative_container'>
  <% form_for(@leave_request) do |f| %>
      <%= f.error_messages %>

      <p><%= f.label(:employee_id) %>
        <% if current_user.admin? %>
					<%= f.collection_select(:employee_id, User.all, :id, :name, :prompt => "Select User") %>
					<%= observe_field( "leave_request_employee_id",
							:url => "/users/accrual_display",
							:with => 'id',
							:update => "accruals_display") %>
        <% else %>
          <%= f.hidden_field :employee_id %>
          <b><%= current_user.name %> </b>
        <% end %>
      </p>
<%= javascript_tag "leave_period_count=#{@leave_request.leave_periods.count};
    hours_in_day=#{HOURS_IN_WORKDAY};" %>
      <div id='leave_periods_subform'>
        <h5>Requesting the following leave periods:</h5>

        <%= link_to_function "Add new", "openNewLeavePeriodDlg()" %>
        <ul id='leave_periods_list'>
        <% @leave_request.leave_periods.each do |period| %>
            <% f.fields_for(:leave_periods, period) do |lp| %>
                <li class='leave_period_item'>
                  <%= lp.hidden_field :from_date %>
                  <%= lp.hidden_field :until_date %>
                  <div>From: <strong><%= period.from_date.strftime("%x") %>
                  <%= period.from_date.strftime("%X") unless period.all_day %></strong>  </div>
                  <div>Until: <strong><%= period.until_date.strftime("%x") %>
                  <%= period.until_date.strftime("%X") unless period.all_day  %></strong>  </div>
                </li>
            <% end %>
        <% end %>
        </ul>
      </div>
      <p>
        <%= f.label :reason, "Reason" %><br/>
        <%= f.text_area :reason, :cols => 40, :rows => 5 %>

      <div id='leave_type_display'>
        <%= f.label :leave_type_id, "Leave Type" %>
        <%= f.collection_select(:leave_type_id, LeaveType.all, :id, :name, :include_blank => true) %>
      </div>
      </p>

      <div id='accruals_display'>
        <%= render :partial => '/users/accrued_leave_display',
                   :locals => {:user => @leave_request.employee} unless @leave_request.employee.nil? %>
      </div>

      <p>
        <%= f.submit 'Save' %>
      </p>
  <% end %>
</div>