<p>
  <b>Leave period:</b>
  <%=h @leave_request.leave_period_id %>
</p>

<p>
  <b>Reason:</b>
  <%=h @leave_request.reason %>
</p>

<p>
  <b>Vacation hours:</b>
  <%=h @leave_request.vacation_hours %>
</p>

<p>
  <b>Holiday hours:</b>
  <%=h @leave_request.holiday_hours %>
</p>

<p>
  <b>Sick hours:</b>
  <%=h @leave_request.sick_hours %>
</p>

<p>
  <b>Bereavement:</b>
  <%=h @leave_request.bereavement %>
</p>

<p>
  <b>Bereavement hours:</b>
  <%=h @leave_request.bereavement_hours %>
</p>

<p>
  <b>Military:</b>
  <%=h @leave_request.military %>
</p>

<p>
  <b>Military hours:</b>
  <%=h @leave_request.military_hours %>
</p>

<p>
  <b>Comp hours:</b>
  <%=h @leave_request.comp_hours %>
</p>

<p>
  <b>Jury duty:</b>
  <%=h @leave_request.jury_duty %>
</p>

<p>
  <b>Jury hours:</b>
  <%=h @leave_request.jury_hours %>
</p>

<p>
  <b>Unpaid:</b>
  <%=h @leave_request.unpaid %>
</p>

<p>
  <b>Unpaid hours:</b>
  <%=h @leave_request.unpaid_hours %>
</p>

<p>
  <b>Administrative:</b>
  <%=h @leave_request.administrative %>
</p>

<p>
  <b>Administrative hours:</b>
  <%=h @leave_request.administrative_hours %>
</p>


<%= link_to 'Edit', edit_leave_request_path(@leave_request) %> |
<%= link_to 'Back', leave_requests_path %>