<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
<fieldset>
  <legend>User options</legend>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name%><br />
    <%= f.text_field :last_name%>
  </p>
  <p>
  	<%= f.label :email %>
  	<%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>
  </fieldset>
  <%- if current_user.admin? -%>
    <fieldset>
      <legend> Administrator options</legend>
      
  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :holiday_hours %><br />
    <%= f.text_field :holiday_hours %>
  </p>
  <p>
    <%= f.label :vacation_hours %><br />
    <%= f.text_field :vacation_hours %>
  </p>
  <p>
    <%= f.label :sick_hours %><br />
    <%= f.text_field :sick_hours %>
  </p>
  <p>
    <%= f.label :vacation_accrual_rate %><br />
    <%= f.text_field :vacation_accrual_rate %>
  </p>
  <p>
    <%= f.label :sick_accrual_rate %><br />
    <%= f.text_field :sick_accrual_rate %>
  </p>
    </fieldset>
  <%- end -%>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
