<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Skeleton hours:</b>
  <%=h @user.skeleton_hours %>
</p>

<p>
  <b>Vacation hours:</b>
  <%=h @user.vacation_hours %>
</p>

<p>
  <b>Sick hours:</b>
  <%=h @user.sick_hours %>
</p>

<p>
  <b>Comp hours:</b>
  <%=h @user.comp_hours %>
</p>

<p>
  <b>Vacation accrual rate:</b>
  <%=h @user.vacation_accrual_rate %>
</p>

<p>
  <b>Sick accrual rate:</b>
  <%=h @user.sick_accrual_rate %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
