<div id='user_show'>
<p>
<b><%=h @user.name %></b> (<%=h @user.login %>)<br/>
</p>
<div id='current_accruals'>
  <h4>Current Accruals</h4>
  <dl>
    <% if @user.timesheets.last.nil? %>
      <li>Holiday: <%=h @user.holiday_hours %></li>
      <li>Vacation/annual leave: <%=h @user.vacation_hours%></li>
      <li>Sick: <%=h @user.sick_hours%></li>
    <% else %>
      <li>Holiday: <%=h @user.timesheets.last.ending_accrual.holiday_hours %></li>
      <li>Vacation/annual leave: <%=h @user.timesheets.last.ending_accrual.vacation_hours%></li>
      <li>Sick: <%=h @user.timesheets.last.ending_accrual.sick_hours%></li>
    <% end %>
  </dl>
</div>
<div id='timesheets'>
  <h4>Timesheets</h4>
  <ul>
  <% @user.timesheets.each do |ts| %>
    <li><%= link_to ts.start_date.strftime("%B %Y"), timesheet_path(ts) %></li>
  <% end %>
  </ul>
</div>
</div>
<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
