<div id='user_show'>
  <p>
    <b><%= h @user.name %></b> (<%= h @user.login %>)<br/>
  </p>

  <div id='current_accruals'>
    <%= render :partial => '/users/accrued_leave_display',
               :locals => {:user => @user} %>

  </div>
  <div id='time_export'>
    <h4>Export Time</h4>
    <% form_tag time_export_path do %>
      <%= hidden_field_tag :user_id, @user.id %>
      <%= label_tag :date_month, "Month" %>
      <%= select_month Date.today %>
      <%= label_tag :date_year, "Year" %>
      <%= select_year Date.today %>

      <%= submit_tag "Export" %>
    <% end %>
  </div>
  <div id='timesheets'>
    <h4>Timesheets</h4>
    <ul>
      <% @user.timesheets.each do |ts| %>
        <li><%= link_to ts.start_date.strftime("%B %Y"), timesheet_path(ts) %></li>
      <% end %>
    </ul>
  </div>

</div>
<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
