<h1>Timesheet</h1>

<% form_for(@timesheet) do |f| %>
  <%= f.error_messages %>
<div class='form'>
  <label>Login</label>
  <%= text_field_tag 'user_login' %><br/>
  <%= f.label :start_date, "Time period" %>
  <%= date_select("timesheet", "start_date", :order => [:month, :year], :default => Date.today.beginning_of_month) %><br/>
  <label>&nbsp;</label>
  <%= submit_tag "Generate Timesheet" %>
</div>
<% end %>

