<html>
  <head>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "jquery-ui-custom" %>
    <%= javascript_include_tag "timesheet_edit" %>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "report", :media => "print,screen" %>
    <title>TALHO Time Admin</title>
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>


  <body>
    <div id='header'>
      <img class='logo' src='/images/talho_logo.png'>
      <div class='title'>TALHO Time Admin</div>
    </div>
    <div id='content'>
      <%= yield %>
    </div>
  </body>
</html>
